
.contactContainer{
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.leftContainer{
    flex: 1 1;
    padding: 5%;
    flex-direction: revert;
    display: flex;
}

.rightContainer{
    flex: 1 1;
    position: relative;
    flex-direction: column;
    display: flex;
    padding: 20px;
    margin: 20px;
    align-items: center;
    align-self: center;
    height: inherit;
    justify-content: center;
}

.txtfield{
    margin-bottom: 15px !important;
    width: 420px;
}
.companyName{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 0;
    color: #23272A;
    line-height: 1.5;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
}
.sendBtn{
    background-color: #23272A !important;
}

.sendBtn:hover{
    background-color: #3C4348 !important;
}