.projectscontainer{
    background-color: #fff;
}
.title{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 0;
    color: #23272A;
    line-height: 1.5;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
}
.imageContainer{
    position: relative;
    top: 40px;
}

.companyName{
    font-size: 35px;
}

.leftPaper{
    background-color: #23272A !important;
    height: 315px;
    width: 400px;
    margin: 10px;
}
.rightContainer{
    display: flex;
    justify-content: space-evenly;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectName{
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center !important;
    font-weight: 300 !important;
}
.projectName:hover{
    cursor: pointer !important;

    text-decoration: underline !important;
    text-underline-offset: 5px !important;
}
.signContainer span{
    height:231px !important;
    border-radius: 4px;
}
.ecom{
    margin-top: 20px;
    background-color: #fff;
}